---
title: trumpocalypse
description: our slow slide out of normal
trumpocalypse-path: /pages/trumpocalypse/
image: trump.jpg
---
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trumpocalypse</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:url" content="http://{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{{ page.description | escape }}">
  <meta property="og:image" content="http://{{ site.url }}{{ page.trumpocalypse-path }}{{ page.image }}">
  <meta property="og:type" content="article">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="{{ page.description | escape }}">
  <meta name="twitter:title" content="{{ page.title | escape }}">
  <meta name="twitter:url" content="http://{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  <meta name="twitter:domain" content="{{ site.url }}">
  <meta property="twitter:image" content="http://{{ site.url }}{{ page.image }}">

  <script src="https://use.fontawesome.com/3543a4d7b1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script>
    $(document).ready(function(){
      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

        for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
          }
        }

        return false;
      };

      var tagToShow = getUrlParameter("tag");
      if (tagToShow) {
        $(".event").not(".event-" + tagToShow).hide();
        $(".day-header").not(".day-" + tagToShow).hide();
        $(".main-subtitle").prepend("Stories Tagged " + tagToShow + " ");
      }
    });
  </script>

  {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}

  <link rel="stylesheet" href="{{site.baseurl }}{{ page.trumpocalypse-path }}trumpocalypse.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="main-title">The Trump Administration</div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-subtitle">Day by Day</div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <a role="button" class="btn btn-primary btn-sm btn-block" href="https://github.com/Sagelt/trumpocalypse">Submit a link on Github <i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    {% assign years = site.data.trumpocalypse | sort %}
    {% assign dayzero_seconds = "2017-01-19" | date: '%s' %} 

    {% for year in years reversed %}
      {% assign months = year[1] | sort %}
      {% for month in months reversed %}
        {% assign days = month[1] | sort %}
        {% for day in days reversed %}
          {% assign item_date = year[0] | append: "-" | append: month[0] | append: "-" | append: day[0] %}
          {% assign item_seconds = item_date | date: '%s' %}
          {% assign seconds_diff = item_seconds | minus: dayzero_seconds %}
          {% assign days_in_office = seconds_diff | divided_by: 3600 | divided_by: 24 %}
          {% assign events = day[1] | sort %}
          <div class="day-header {% for event in events %}{% for tag in event[1].tags %}day-{{ tag | downcase }} {% endfor %}{% endfor %}">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="day" id="{{ item_date }}">Day {{ days_in_office }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="date">{{ item_date | date: "%A %e %B %Y" }}</div>
              </div>
            </div>
          </div> 
          {% for event in events reversed %}
            <div class="row top-buffer event {% for tag in event[1].tags %}event-{{ tag | downcase }} {% endfor %}" id="{{ item_date }}-{{ event[0] }}">
              <div class="col-md-3 col-md-offset-1">
                <div class="tag-box">
                  {% for tag in event[1].tags %}
                    <a href="{{site.baseurl }}{{ page.trumpocalypse-path }}?tag={{ tag | downcase }}">
                      <span class="tag {{ tag }}" role="button">
                        {% if tag == "Twitter" %}
                          {{ tag }} <i class="fa fa-twitter" aria-hidden="true"></i>
                        {% elsif tag == "Lawsuit" %}
                          {{ tag}} <i class="fa fa-institution" aria-hidden="true"></i>
                        {% elsif tag == "Resistance" %}
                          {{ tag}} <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                        {% elsif tag == "TravelBan" %}
                          {{ tag}} <i class="fa fa-plane" aria-hidden="true"></i>
                        {% elsif tag == "News" %}
                          {{ tag}} <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        {% else %}
                          {{ tag }}
                        {% endif %}
                     </span>
                    </a>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="title"><a href="{{ event[1].url }}">{{ event[1].title }}</a></div>
                {% if event[1].desc %}
                  <div class="desc">{{ event[1].desc }}</div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
</body>
