.container {

}

a {
  text-decoration: none;
  color: #333;
}

a:link {
  text-decoration: none;
  color: #333;
}

a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

a:active {
  text-decoration: none;
  color: #333;
}

.main-title {
  font-family: 'Crimson Text', serif;
  font-size: 36pt;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  margin: 30px 0 10px 0;
  border: 2px solid black;
  border-width: 0 0 2px 0;
}

.subtitle-row {
  margin: 10px 0 20px 0;
}

.main-subtitle {
    font-family: 'Crimson Text', serif;
    font-size: 24pt;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

.header-nav {
  font-family: 'Crimson Text', serif;
  font-size: 20pt;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

.header-link {
  font-size: 16pt;
  color: #7b7b7b !important;
}

.day {
  font-family: 'Crimson Text', serif;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 0 0;
}

.date {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px 0;
}

.info-box {
  vertical-align: top;
  margin: 15px;
  width: 100%;
}

.title { 
  font-family: 'Cormorant Garamond', serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: justify;
}

.quote {
  font-family: 'Cormorant Garamond', serif;
  font-size: 14pt;
  font-style: italic;
  text-align: justify;
  margin: 5px 0.75em 5px 0.75em;
}

.desc {
  font-family: 'Cormorant Garamond', serif;
  font-size: 14pt;
  text-align: justify;
}

.top-buffer {
  margin-top: 50px;
}

.top-buffer-small {
  margin-top: 15px;
}

.tag {
  font-family: 'Cormorant Garamond', serif;
  font-size: 12pt;
  color: #7b7b7b;
}

.tag-box {
  margin: 5px 0 5px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em; 
  text-indent: -.7em;
  display: inline;
}

li::before {
  content: "• ";
  color: #7b7b7b;
}

.tag-list {
  display: list-item;
  font-family: 'Cormorant Garamond', serif;
  font-size: 14pt;
  font-weight: bold;
}